<h3>Add new book</h3>
<form [formGroup]="bookForm" (ngSubmit)="addBook()">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="title"></td>
      <td *ngIf="bookForm.get('title').touched ">
                <p style="color:red" *ngIf="bookForm.get('title').errors?.required">Title required</p>
      </td>
    </tr>
    <tr>
      <td>Author:</td>
      <td><input type="text" formControlName="author"></td>
      <td *ngIf="bookForm.get('author').touched ">
        <p style="color:red" *ngIf="bookForm.get('author').errors?.required">Author required</p>
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td><button class="btn btn-success">Add book</button></td>
      <td><button type="button" class="btn btn-secondary"><a style="text-decoration: none; color:white" routerLink="/books/list" >Exit</a></button></td>
    </tr>
  </table>
</form>
