<h3>Delete book</h3>
<table>
  <tr>
    <td>Name:</td>
    <td>{{book.title}}</td>
  </tr>
  <tr>
    <td>Author:</td>
    <td>{{book.author}}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{book.description}}</td>
  </tr>
  <tr>
    <td><button  type="button" class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button></td>
    <td>
      <button type="button" class="btn btn-secondary"><a style="text-decoration: none; color:white"routerLink="/books/list">Exit</a></button></td>
  </tr>
</table>



